<%- include("partials/header", { title: title }) %>

    <main>

        <h2>
            <%= title %>
        </h2>

        <p>Browse the different categories of community service projects.</p>

        <ul>
            <% categories.forEach(category=> { %>

                <li>
                    <strong>
                        <%= category.category_name %>
                    </strong><br>
                    <%= category.description %>
                </li>

                <% }) %>
        </ul>

    </main>

    <%- include("partials/footer") %>