<%- include("partials/header", { title: title }) %>

    <main>

        <h2>
            <%= title %>
        </h2>

        <p>
            Browse the different categories of community service projects.
        </p>

        <ul>

            <% categories.forEach(category=> { %>

                <li>

                    <h3>
                        <a href="/category/<%= category.category_id %>">
                            <%= category.category_name %>
                        </a>
                    </h3>

                    <p>
                        <%= category.description %>
                    </p>

                </li>

                <% }) %>

        </ul>

        <p>
            <a href="/new-category">
                Create New Category
            </a>
        </p>


    </main>

    <%- include("partials/footer") %>