<%- include("partials/header", { title: title }) %>

    <main>

        <h2>Community Organizations</h2>

        <p>
            These organizations work with volunteers to make a positive impact in
            their communities. Explore their missions and discover ways to get involved.
        </p>

        <section class="organization-grid">

            <% organizations.forEach(organization=> { %>

                <article class="card">

                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %>">

                    <h3>
                        <a href="/organization/<%= organization.organization_id %>">
                            <%= organization.name %>
                        </a>
                    </h3>


                    <p>
                        <%= organization.description %>
                    </p>

                    <p>
                        <strong>Contact Email:</strong><br>
                        <%= organization.contact_email %>
                    </p>

                </article>

                <% }); %>

        </section>

    </main>

    <%- include("partials/footer") %>