<%- include("partials/header", { title: title }) %>

    <main>

        <h2>
            <%= title %>
        </h2>

        <p>Explore our current community service projects.</p>

        <ul>
            <% projects.forEach(project=> { %>

                <li>
                    <strong>
                        <%= project.project_name %>
                    </strong><br>

                    <%= project.description %><br>

                        <strong>Start Date:</strong>
                    <strong>Start Date:</strong>
                    <%= project.start_date ? project.start_date.toISOString().split("T")[0] : "N/A" %>
                </li>

                <% }) %>
        </ul>

    </main>

    <%- include("partials/footer") %>